<a href="https://colab.research.google.com/github/w8mr/ing-ml-challenge/blob/master/challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ING Machine learning challenge week 6 Income data

## Setup kaggle, token and datasets

Upgrade Kaggle

In [0]:
!pip install kaggle --upgrade
!kaggle --version

Requirement already up-to-date: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.6)
Requirement already satisfied, skipping upgrade: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2019.11.28)
Requirement already satisfied, skipping upgrade: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied, skipping upgrade: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.28.1)
Requirement already satisfied, skipping upgrade: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.21.0)
Requirement already satisfied, skipping upgrade: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.0)
Requirement already satisfied, skipping upgrade: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.6.1)
Requirement already satisfied, skipping upgrade: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.12.0)
Requirement already satisfied, skipping upgrade: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied, skipping upgrade: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.8)
Requirement already satisfied, skipping upgrade: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
Kaggle API 1.5.4

Upload kaggle token

In [0]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print(f'User uploaded file "{fn}" with length {len(uploaded[fn])} bytes')
  
# Then move kaggle.json into the folder where the API expects to find it.
!mkdir -p ~/.kaggle/ && mv kaggle.json ~/.kaggle/ && chmod 600 ~/.kaggle/kaggle.json

Saving kaggle.json to kaggle.json
User uploaded file "kaggle.json" with length 73 bytes

Download and unzip the dataset

In [0]:
!kaggle competitions download -c ml-challenge-week6
!unzip -o census-income.data.zip
!unzip -o census-income.test.zip

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
sampleSubmission.csv: Skipping, found more recently modified local copy (use --force to force download)
census-income.names: Skipping, found more recently modified local copy (use --force to force download)
census-income.test.zip: Skipping, found more recently modified local copy (use --force to force download)
census-income.data.zip: Skipping, found more recently modified local copy (use --force to force download)
Archive:  census-income.data.zip
  inflating: census-income.data
Archive:  census-income.test.zip
  inflating: census-income.test

In [0]:
import pandas as pd 

# Column names found at https://www2.1010data.com/documentationcenter/beta/Tutorials/MachineLearningExamples/CensusIncomeDataSet.html manually adjusted
header_list = ["age", "class of worker", "industry code", "occupation code", 
               #"adjusted gross income", 
               "education", "wage per hour", 
               "enrolled in edu inst last wk", "marital status", "major industry code", 
               "major occupation code", "mace", "hispanic Origin", "sex", 
               "member of a labor union", "reason for unemployment", 
               "full or part time employment stat", "capital gains", "capital losses", 
               "divdends from stocks", 
               #"federal income tax liability", 
               "tax filer status", 
               "region of previous residence", "state of previous residence", 
               "detailed household and family stat", "detailed household summary in household", 
               "instance weight", "migration code-change in msa", "migration code-change in reg", 
               "migration code-move within reg", "live in this house 1 year ago", 
               "migration prev res in sunbelt", "num persons worked for employer", 
               "family members under 18", 
               #"total person earnings", 
               "country of birth father",
               "country of birth mother", "country of birth self", "citizenship", 
               "total person income", "own business or self employed", "veterans benefits", "weeks worked in the year", "year of survey", "taxable income amount"]

train_df = pd.read_csv('census-income.data', header=None, names=header_list)
train_df.info()
train_df.head(8)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199523 entries, 0 to 199522
Data columns (total 42 columns):
age                                        199523 non-null int64
class of worker                            199523 non-null object
industry code                              199523 non-null int64
occupation code                            199523 non-null int64
education                                  199523 non-null object
wage per hour                              199523 non-null int64
enrolled in edu inst last wk               199523 non-null object
marital status                             199523 non-null object
major industry code                        199523 non-null object
major occupation code                      199523 non-null object
mace                                       199523 non-null object
hispanic Origin                            199523 non-null object
sex                                        199523 non-null object
member of a labor union                    199523 non-null object
reason for unemployment                    199523 non-null object
full or part time employment stat          199523 non-null object
capital gains                              199523 non-null int64
capital losses                             199523 non-null int64
divdends from stocks                       199523 non-null int64
tax filer status                           199523 non-null object
region of previous residence               199523 non-null object
state of previous residence                199523 non-null object
detailed household and family stat         199523 non-null object
detailed household summary in household    199523 non-null object
instance weight                            199523 non-null float64
migration code-change in msa               199523 non-null object
migration code-change in reg               199523 non-null object
migration code-move within reg             199523 non-null object
live in this house 1 year ago              199523 non-null object
migration prev res in sunbelt              199523 non-null object
num persons worked for employer            199523 non-null int64
family members under 18                    199523 non-null object
country of birth father                    199523 non-null object
country of birth mother                    199523 non-null object
country of birth self                      199523 non-null object
citizenship                                199523 non-null object
total person income                        199523 non-null int64
own business or self employed              199523 non-null object
veterans benefits                          199523 non-null int64
weeks worked in the year                   199523 non-null int64
year of survey                             199523 non-null int64
taxable income amount                      199523 non-null object
dtypes: float64(1), int64(12), object(29)
memory usage: 63.9+ MB

   age                  class of worker  ...  year of survey  taxable income amount
0   73                  Not in universe  ...              95               - 50000.
1   58   Self-employed-not incorporated  ...              94               - 50000.
2   18                  Not in universe  ...              95               - 50000.
3    9                  Not in universe  ...              94               - 50000.
4   10                  Not in universe  ...              94               - 50000.
5   48                          Private  ...              95               - 50000.
6   42                          Private  ...              94               - 50000.
7   28                          Private  ...              95               - 50000.

[8 rows x 42 columns]

In [0]:
test_df = pd.read_csv('census-income.test', header=None, names=header_list[:-1])
test_df.info()
test_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99762 entries, 0 to 99761
Data columns (total 41 columns):
age                                        99762 non-null int64
class of worker                            99762 non-null object
industry code                              99762 non-null int64
occupation code                            99762 non-null int64
education                                  99762 non-null object
wage per hour                              99762 non-null int64
enrolled in edu inst last wk               99762 non-null object
marital status                             99762 non-null object
major industry code                        99762 non-null object
major occupation code                      99762 non-null object
mace                                       99762 non-null object
hispanic Origin                            99357 non-null object
sex                                        99762 non-null object
member of a labor union                    99762 non-null object
reason for unemployment                    99762 non-null object
full or part time employment stat          99762 non-null object
capital gains                              99762 non-null int64
capital losses                             99762 non-null int64
divdends from stocks                       99762 non-null int64
tax filer status                           99762 non-null object
region of previous residence               99762 non-null object
state of previous residence                99432 non-null object
detailed household and family stat         99762 non-null object
detailed household summary in household    99762 non-null object
instance weight                            99762 non-null float64
migration code-change in msa               49816 non-null object
migration code-change in reg               49816 non-null object
migration code-move within reg             49816 non-null object
live in this house 1 year ago              99762 non-null object
migration prev res in sunbelt              49816 non-null object
num persons worked for employer            99762 non-null int64
family members under 18                    99762 non-null object
country of birth father                    96333 non-null object
country of birth mother                    96690 non-null object
country of birth self                      97998 non-null object
citizenship                                99762 non-null object
total person income                        99762 non-null int64
own business or self employed              99762 non-null object
veterans benefits                          99762 non-null int64
weeks worked in the year                   99762 non-null int64
year of survey                             99762 non-null int64
dtypes: float64(1), int64(12), object(28)
memory usage: 31.2+ MB

   age  ... year of survey
0   38  ...             95
1   44  ...             95
2    2  ...             95
3   35  ...             94
4   49  ...             95

[5 rows x 41 columns]

## Inspect data

In [42]:
train_df['class of worker'].unique()

array([' Not in universe', ' Self-employed-not incorporated', ' Private',
       ' Local government', ' Federal government',
       ' Self-employed-incorporated', ' State government',
       ' Never worked', ' Without pay'], dtype=object)

In [47]:
train_df['age'].unique()

array([73, 58, 18,  9, 10, 48, 42, 28, 47, 34,  8, 32, 51, 46, 26, 13, 39,
       16, 35, 12, 27, 56, 55,  2,  1, 37,  4, 63, 25, 81, 11, 30,  7, 66,
       84, 52,  5, 36, 72, 61, 41, 90, 49,  6,  0, 33, 57, 50, 24, 17, 53,
       40, 54, 22, 29, 85, 38, 76, 21, 31, 74, 19, 15,  3, 43, 68, 71, 45,
       62, 23, 69, 75, 44, 59, 60, 64, 65, 70, 67, 78, 20, 14, 83, 86, 89,
       77, 79, 82, 80, 87, 88])

## Making a submission

In [0]:
import numpy as np

submission_df = pd.read_csv('sampleSubmission.csv')
submission_df['income class'] = np.random.randint(0, 2, submission_df.shape[0])
submission_df['income class'].head()

In [0]:
submission_df.to_csv('submission.csv')

```
usage: kaggle competitions submit [-h] -f FILE_NAME -m MESSAGE [-q]
                                  [competition]

required arguments:
  -f FILE_NAME, --file FILE_NAME
                        File for upload (full path)
  -m MESSAGE, --message MESSAGE
                        Message describing this submission

optional arguments:
  -h, --help            show this help message and exit
  competition           Competition URL suffix (use "kaggle competitions list" to show options)
                        If empty, the default competition will be used (use "kaggle config set competition")"
  -q, --quiet           Suppress printing information about the upload/download progress
```

In [0]:
!kaggle competitions submit -c ml-challenge-week6 -f submission.csv -m "Test"

## List competition submissions

```
usage: kaggle competitions submissions [-h] [-v] [-q] [competition]

optional arguments:
  -h, --help   show this help message and exit
  competition  Competition URL suffix (use "kaggle competitions list" to show options)
               If empty, the default competition will be used (use "kaggle config set competition")"
  -v, --csv    Print results in CSV format (if not set print in table format)
  -q, --quiet  Suppress printing information about the upload/download progress
```

In [0]:
!kaggle competitions submissions ml-challenge-week6

## Get competition leaderboard

```
usage: kaggle competitions leaderboard [-h] [-s] [-d] [-p PATH] [-v] [-q]
                                       [competition]

optional arguments:
  -h, --help            show this help message and exit
  competition           Competition URL suffix (use "kaggle competitions list" to show options)
                        If empty, the default competition will be used (use "kaggle config set competition")"
  -s, --show            Show the top of the leaderboard
  -d, --download        Download entire leaderboard
  -p PATH, --path PATH  Folder where file(s) will be downloaded, defaults to current working directory
  -v, --csv             Print results in CSV format (if not set print in table format)
  -q, --quiet           Suppress printing information about the upload/download progress
```

In [48]:
!kaggle competitions leaderboard ml-challenge-week6 -s

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
 teamId  teamName                    submissionDate       score
-------  --------------------------  -------------------  -------
4467419  God mode (or cheating)      2020-02-28 14:32:13  1.00000
4467274  ML Challenge Solution       2020-02-28 12:56:08  0.85963
4448485  ML Challenge Benchmark      2020-02-25 07:14:07  0.72384
4467459  Random guessing (be above)  2020-02-28 14:39:17  0.50006

## Uploading a Colab notebook to Kaggle Kernels

### Downloading a notebook from Colab

To download from Colab, use **File** | **Download .ipynb**

### Then upload the notebook to your Colab runtime

In [0]:
uploaded = files.upload()
notebook_path = list(uploaded.keys())[0]

In [0]:
!mkdir -p export
!mv "$notebook_path" export/

### Initialize metadata file for a kernel

```
usage: kaggle kernels init [-h] [-p FOLDER]

optional arguments:
  -h, --help            show this help message and exit
  -p FOLDER, --path FOLDER
                        Folder for upload, containing data files and a special kernel-metadata.json file       
                        (https://github.com/Kaggle/kaggle-api/wiki/Kernel-Metadata). 
                        Defaults to current working directory
```

In [0]:
!kaggle kernels init -p export

In [0]:
import re
your_kaggle_username = 'Your kaggle username'
notebook_title = 'New Kernel'
new_kernel_slug = re.sub(r'[^a-z0-9]+', '-', notebook_title.lower())
notebook_path = 'export'
metadata_file = 'export/kernel-metadata.json'

In [0]:
import json

with open(metadata_file) as json_file:
    metadata = json.load(json_file)

metadata['code_file'] = notebook_path
metadata['kernel_type'] = 'notebook'
metadata['language'] = 'python'
metadata['id'] = f'{your_kaggle_username}/{new_kernel_slug}'
metadata['title'] = notebook_title

with open(metadata_file, 'w') as outfile:
    json.dump(metadata, outfile, indent=4)

In [0]:
!cat export/kernel-metadata.json

```
usage: kaggle kernels push [-h] -p FOLDER

optional arguments:
  -h, --help            show this help message and exit
  -p FOLDER, --path FOLDER
                        Folder for upload, containing data files and a special kernel-metadata.json file 
                        (https://github.com/Kaggle/kaggle-api/wiki/Kernel-Metadata). 
                        Defaults to current working directory
```

In [0]:
!kaggle kernels push -p export